In [1]:
from IPython.core.display import HTML
HTML('<a href="https://colab.research.google.com/github/yingchen0817/CSC448/blob/main/Divide_Two_Int.ipynb"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>')

In [6]:
# Imports section
import pandas as pd

# Part 1. Loading the dataset

In [9]:
# Using pandas load the dataset (load remotely, not locally)
slime = pd.read_csv("https://raw.githubusercontent.com/profmcnich/example_notebook/main/science_data_large.csv")

In [13]:
# read in the data
slime

     Temperature °C  Mols KCL     Size nm^3
0               469       647  6.244743e+05
1               403       694  5.779610e+05
2               302       975  6.196847e+05
3               779       916  1.460449e+06
4               901        18  4.325726e+04
..              ...       ...           ...
995             894       847  1.545661e+06
996             327       982  6.737041e+05
997             791       213  3.477543e+05
998             769       553  8.684794e+05
999             919       452  8.476413e+05

[1000 rows x 3 columns]

In [12]:
# Output the first 15 rows of the data
slime.head(15)

    Temperature °C  Mols KCL     Size nm^3
0              469       647  6.244743e+05
1              403       694  5.779610e+05
2              302       975  6.196847e+05
3              779       916  1.460449e+06
4              901        18  4.325726e+04
5              545       637  7.124634e+05
6              660       519  7.006960e+05
7              143       869  2.718260e+05
8               89       461  8.919803e+04
9              294       776  4.770210e+05
10             991       117  2.441771e+05
11             307       781  5.006455e+05
12             206        70  3.145200e+04
13             437       599  5.390215e+05
14             566        75  9.185271e+04

In [14]:
# Display a summary of the table information (number of datapoints, etc.)
slime.dtypes

Temperature °C      int64
Mols KCL            int64
Size nm^3         float64
dtype: object

# Part 2. Splitting the dataset

In [2]:
# Take the pandas dataset and split it into our features (X) and label (y)

# Use sklearn to split the features and labels into a training/test set. (90% train, 10% test)

# Part 3. Perform a Linear Regression

In [3]:
# Use sklearn to train a model on the training set

# Create a sample datapoint and predict the output of that sample with the trained model

# Report on the score for that model, in your own words (markdown, not code) explain what the score means

# Extract the coefficents and intercept from the model and write an equation for your h(x)

# Part 4. Use Cross Validation

In [4]:
# Use the cross_val_score function to repeat your experiment across many shuffles of the data

# Report on their finding and their significance

# Part 5. Using Polynomial Regression

In [5]:
# Using the PolynomialFeatures library perform another regression on an augmented dataset of degree 2

# Report on the metrics and output the resultant equation as you did in Part 3.